{layout '../Base/@layout.latte'}
{block main}
<header xmlns:n="http://www.w3.org/1999/xhtml">
    <nav class="navbar navbar-expand-lg navbar bg-primary-subtle mb-2 py-1">
        <div class="container-fluid">
            <a class="navbar-brand" n:href="Home:"><em>HerbBIO Repository</em></a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link {if $presenter->isLinkCurrent('Import:')}active{/if}" n:href="Import:">
                            Import files
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link {if $presenter->isLinkCurrent('Repository:in-progress')}active{/if}"
                           n:href="Repository:in-progress">Work-in-progress items</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link {if $presenter->isLinkCurrent('Repository:published')}active{/if}"
                           n:href="Repository:published">Published items</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link {if $presenter->isLinkCurrent('Report:')}active{/if}"
                           n:href="Report:">Reports</a>
                    </li>
                    {if $herbarium->externalDatabase->id === \App\Model\Database\Entity\ExternalDatabase::INTERNAL}
                    <li class="nav-item">
                        <a class="nav-link {if $presenter->isLinkCurrent('Cetaf:')}active{/if}"
                           n:href="Cetaf:">CETAF SID</a>
                    </li>
                    {/if}
                    <!--                    <li class="nav-item">-->
                    <!--                        <a class="nav-link {if $presenter->isLinkCurrent('Funding:')}active{/if}"-->
                    <!--                           n:href="Funding:">Funding</a>-->
                    <!--                    </li>-->
                </ul>
                <form class="d-flex" action="{link Repository:search}" method="GET">
                    <input name="numeric_part" class="form-control me-2" type="search"
                           placeholder="put numeric part of ID"
                           aria-label="Search specimen">
                    <button class="btn btn-outline-success" type="submit">Search</button>
                </form>
                <ul class="navbar-nav ms-auto">
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                           data-bs-toggle="dropdown" aria-expanded="false">
                            <i class="bi bi-person"></i>{$user->getIdentity()->getCurrentHerbariumAcronym()} {$user->getIdentity()->name}
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <li>
                                <a class="dropdown-item" n:href="Herbarium:">Settings</a>
                            </li>
                            <li><hr class="dropdown-divider"></li>
                            <li>
                                <a class="dropdown-item" n:href=":Front:Sign:out"><i class="bi bi-box-arrow-right"></i>
                                    Sign out</a>
                            </li>
                        </ul>
                    </li>
                </ul>

            </div>
        </div>
    </nav>
</header>
<main class="content">
    <div class="container">
        <div class="container-fluid">
            <div class="col-sm-12 col-md-6 offset-md-3 mt-1">
                <div n:foreach="$flashes as $flash" class="alert py-1 alert-{$flash->type}" role="alert">
                    {$flash->message}
                </div>
                <div n:foreach="$maintenances as $maintenance" class="alert py-1 alert-{$maintenance->type}"
                     role="alert">{$maintenance->type|upper}: {$maintenance->message}
                </div>
            </div>
        </div>
    </div>
    {include content}
</main>
{/block}
