<div class="col-4">
    <img
        src="{plink Repository:databotThumbImage $photo->id}"
        class="img-fluid rounded-start" style="height: 90vh; object-fit: cover;">
</div>
<div class="col-4">
    <h5>ID {$photo->id}, belongs to the specimen <span class="fs-6"><a
        href="{plink Repository:specimen $photo->specimenId}">{$photo->getFullSpecimenId()}</a></span></h5>
    <p>W×H: {$photo->width}×{$photo->height}</p>
    <p>Filesize: {$photo->archiveFileSize|bytes:2}</p>
    <p>Status: <span class="badge bg-{$photo->status->color}">{$photo->status->name}</span>
    </p>
    {*<p>Quality metric: {$metric}*}
    </p>
    <p>Type: <span
        class="badge bg-{$photo->type->color}">{$photo->type->name}</span></p>
    {if $photo->funding !== null}
    <p>Funding: <span
        class="fst-italic">{$photo->funding?->fullname}</span></p>
    {/if}
    <p><small class="text-muted">File created at
        {$photo->createdAt|localDate}</small></p>
    {if $photo->status->id === \App\Model\Database\Entity\PhotosStatus::IMAGE_CONTROL_ERROR}
    <hr>
    <b>import error:</b> {$photo->error->message} </br>
    {if $photo->error->duplicateTo}
    <b>duplicate to:</b> ID {$photo->error->duplicateTo->id}, that is  {$photo->error->duplicateTo->jp2Filename} </br>
    go to the errors' <a href="{plink :revise $photo->id}">resolve</a> page
    {/if}
    {else}
        <p class="card-text"><h5>Archive Master (original TIF file)</h5> filename: {$photo->archiveFilename} <br>
            <a href="{plink Repository:masterImage $photo->id}">download</a>
        </p>
    <p class="card-text"><h5>JP2 Master (quality as Master but much lower filesize) </h5> filename: {$photo->archiveFilename} <br>
    <a href="{plink Repository:jp2Image $photo->id}">download</a>
    </p>
    <p class="card-text"><h5>DataBot thumb (1280px)</h5> filename: {$photo->archiveFilename} <br>
    <a href="{plink Repository:databotThumbImage $photo->id}">download</a>
    </p>
    {/if}
    <hr>
    <a class="btn btn-outline-danger deleteButton" n:href="delete!" role="button">Delete</a>

</div>
<div class="col-4">
    <h4>Import analyse</h4>
    <code>{$coreInfo|dumpArray|noescape}</code>
    <h4>DataBots</h4>
    <code>{$databots|dumpArray|noescape}</code>
</div>
