<div class="col">
    <div class="card">
        <div class="row g-0">
                {if $photo->status->id === 3 || $photo->status->id === 4}
                <img
                    src="{plink Repository:databotThumbImage $photo->id}"  class="img-fluid rounded-start"
                      style="object-fit: cover; cursor:pointer;"
                    data-bs-toggle="modal"
                    data-bs-target="#imageModal-{$photo->id}"
                >
                {/if}
        </div>
        <div class="row g-0">
            <div class="col-md-8">
                <div class="card-body">
                    <h5 class="card-title">Photo ID: {$photo->id} <span class="fs-6">(see <a href="{plink Repository:photo $photo->id}">detail</a>)</span></h5>
                    <p class="card-text"><span class="badge bg-{$photo->status->color}">{$photo->status->name}</span>  <span class="badge bg-{$photo->type->color}">{$photo->type->name}</span> </p>
                    <p class="card-text"><small class="text-muted">Created at
                        {$photo->createdAt|localDate}</small></p>
                </div>
                <div class="modal fade" id="imageModal-{$photo->id}" tabindex="-1">
                    <div class="modal-dialog modal-dialog-centered modal-xl">
                        <div class="modal-content">
                            <div class="modal-body text-center p-0">
                                <img src="{plink Repository:databotThumbImage $photo->id}" class="img-fluid">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
