<div class="col">
    <div class="card">
        <div class="row g-0">
            <div class="col-md-4">
                {if $photo->getStatus()->getId() === 3 || $photo->getStatus()->getId() === 4}
                <img
                    src="https://herbarium-iiif.dyn.cloud.e-infra.cz/iiif/3/{$photo->getJp2Filename()}/full/300,/0/default.jpg"
                    width="300px" class="img-fluid rounded-start">
                {/if}
            </div>
            <div class="col-md-8">
                <div class="card-body">
                    <h5 class="card-title">PID: NRPKA3.3domain.image{$photo->getId()} <span class="fs-6">(see <a href="{plink Import:photo $photo->getId()}">detail info</a>)</span></h5>
                    <p class="card-text">W×H: {$photo->getWidth()}×{$photo->getHeight()}</p>
                    <p class="card-text">Filesize: {$photo->getArchiveFileSize()|bytes:2}</p>
                    <p class="card-text">Status: <span class="badge bg-{$photo->getStatus()->getColor()}">{$photo->getStatus()->getName()}</span> </p>
<!--                    TODO error message a výraznější head pro chybné -->
                    <p class="card-text">Type: <span class="badge bg-{$photo->getType()->getColor()}">{$photo->getType()->getName()}</span> </p>
                    <p class="card-text"><small class="text-muted">Created at
                        {$photo->getCreatedAt()|localDate}</small></p>

                    <a class="btn btn-outline-danger deleteButton" n:href="delete!" role="button">Delete</a>

                </div>
            </div>
        </div>
    </div>
</div>
