{block content}
<div class="container">
    <h2>Newly registered user</h2>
    <p>Thank you for signing in the repository. As devoted for institutional herbaria, it cannot be used for individual users - more info in the <a href="https://biodiversity-cz.github.io/herbarium-documentation/">documentation</a>.</p>
    <p>In case you are eligible to provide images from your institution herbarium, please ask the main curator (see<a n:href=":Front:Home:contact"> Contacts</a> who is in charge) to assign your account to it.</p>
</div>
