{block content}
<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a n:href="Home:">Repository</a></li>
        <li class="breadcrumb-item active" aria-current="page">herbarium {$herbarium->acronym}</li>
    </ol>
</nav>
<div class="row">
    {control photosGrid}
</div>





