{block content}
<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a n:href="Home:">Repository</a></li>
        <li class="breadcrumb-item active" aria-current="page">herbarium {$images[0]->getHerbarium()->getAcronym()}</li>
        <li class="breadcrumb-item active" aria-current="page">specimen {$specimen->getStandardizedId()}</li>
    </ol>
</nav>
<div class="row">
    <div class="col-4">
        <ul class="list-group">
            <li class="list-group-item list-group-item-primary disabled" aria-disabled="true">Specimen <b>{$images[0]->getFullSpecimenId()}</b>
                Interoperability
            </li>
            <li class="list-group-item d-flex justify-content-between align-items-center">
                <div>
                    <h5 class="mb-1">Specimen Persistent ID</h5>
                    <small class="text-body-secondary"><b id="copyJacqPid">{$images[0]->getExpectedJacqPid()}</b> <span
                        class="copyIcon" data-copy-target="#copyJacqPid" title="Copy">
            <i class="fa-regular fa-copy"></i>
        </span></small><br>
                    <small class="text-body-secondary">Serves as a specimen PID, as well as a link to the JACQ</small>
                </div>
                <div>
                    <a href="{$images[0]->getExpectedJacqPid()}"><span id="PID"  data-url="https://api.jacq.org/v1/stableIdentifier/resolve/{$images[0]->getJacqPid()}">link</span></a>
                </div>
            </li>
            <li class="list-group-item d-flex justify-content-between align-items-center">
                <div>
                    <h5 class="mb-1">JACQ internal db ID</h5>
                    <small class="text-body-secondary"><b id="copyJacqDbId" class="specimenDbId">?</b> <span
                        class="copyIcon" data-copy-target="#specimenDbId" title="Copy">
            <i class="fa-regular fa-copy"></i>
        </span></small><br>
                    <small class="text-body-secondary">Represents unique db row ID of the specimen in JACQ</small>
                </div>
                <div>
                </div>
            </li>
            <li class="list-group-item d-flex justify-content-between align-items-center">
                <div>
                    <h5 class="mb-1">GBIF</h5>
                    <small class="text-body-secondary"><b id="copyGbif"></b> <span
                        class="copyIcon" data-copy-target="#copyGbif" title="Copy">
            <i class="fa-regular fa-copy"></i>
        </span></small><br>
                    <small class="text-body-secondary">Directs to GBIF occurrence</small>
                </div>
                <div>
                    <a id="GBIF" data-url="https://api.gbif.org/v1/occurrence/search?occurrenceId={$images[0]->getJacqPid()}" href="https://www.gbif.org/occurrence/search?occurrence_id={$images[0]->getJacqPid()}">link</a>
                </div>
            </li>
            <li class="list-group-item d-flex justify-content-between align-items-center">
                <div>
                    <h5 class="mb-1">IIIF manifest raw</h5>
                    <small class="text-body-secondary"><b id="copyRawManifest">{$manifestAbsoluteLink}</b> <span
                        class="copyIcon" data-copy-target="#copyRawManifest" title="Copy">
            <i class="fa-regular fa-copy"></i>
        </span></small><br>
                    <small class="text-body-secondary">IIIF manifest based on data stored in the Czech
                        repository</small>
                </div>
                <div>
                    <a href="{$manifestAbsoluteLink}">link</a>
                </div>
            </li>
            <li class="list-group-item d-flex justify-content-between align-items-center">
                <div>
                    <h5 class="mb-1">IIIF manifest augmented</h5>
                    <small class="text-body-secondary"><b id="copyAugmentedManifest">https://api.jacq.org/v1/iiif/manifest/<span
                        class="specimenDbId">?</span></b> <span class="copyIcon" data-copy-target="#copyAugmentedManifest" title="Copy">
            <i class="fa-regular fa-copy"></i>
        </span></small><br>
                    <small class="text-body-secondary">IIIF manifest augmented with specimen metadata stored in
                        JACQ.</small>
                </div>
                <div>
                    <a id="manifestUrl" data-url="https://api.jacq.org/v1/iiif/manifest/" href="">link</a>
                </div>
            </li>

        </ul>
    </div>
    <div class="col-8" >
        <div id="miradorWrapper" style=" width: 100%; height: 100%; position: relative;">
            <div id="mirador" data-manifest="" data-manifest-raw="{$manifestAbsoluteLink}"></div>
        </div>
    </div>
</div>
<hr>

<div class="row row-cols-1 row-cols-md-4 g-4">
    {foreach $images as $image}
    {control 'detail-' . $image->getId()}
    {/foreach}
</div>





