{block content}
<section class="features-icons bg-light text-center">
    <div class="container">
        <div class="row">
            <div class="col-lg-4">
                <div class="features-icons-item mx-auto mb-5 mb-lg-0 mb-lg-3">
                    <div class="features-icons-icon d-flex"><i class="fa-solid fa-layer-group m-auto text-primary" style="font-size: 4.5rem"></i></div>
                    <h3>EOSC CZ</h3>
                    <p class="lead mb-0">This repository is a part of the Czech National Repository Platform <a href="https://www.eosc.cz/en/projects/national-repository-platform-for-research-data-os-i-nrp/national-repository-platform" target="_blank">NRP EOSC CZ <i class="fa-solid fa-up-right-from-square fs-6"></i></a></p>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="features-icons-item mx-auto mb-5 mb-lg-0 mb-lg-3">
                    <div class="features-icons-icon d-flex"><i class="fa-solid fa-circle-nodes m-auto text-primary" style="font-size: 4.5rem"></i></div>
                    <h3>Interoperability</h3>
                    <p class="lead mb-0">Designed and maintained with interoperability support for <a href="https://jacq.org" target="_blank">JACQ <i class="fa-solid fa-up-right-from-square fs-6"></i></a> and <a href="https://gbif.org" target="_blank">GBIF <i class="fa-solid fa-up-right-from-square fs-6"></i></a> as global aggregators. </p>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="features-icons-item mx-auto mb-5 mb-lg-0 mb-lg-3">
                    <div class="features-icons-icon d-flex"><i class="fa-solid fa-users m-auto text-primary" style="font-size: 4.5rem"></i></div>
                    <h3>Documentation</h3>
                    <p class="lead mb-0">Please read the <a href="https://biodiversity-cz.github.io/herbarium-documentation/" target="_blank">documentation <i class="fa-solid fa-up-right-from-square fs-6"></i></a> to understand how the repository imports and publishes digital images. </p>
                </div>
            </div>

        </div>
        <div class="row mt-5">
            <br><br>
            <img src="{$basePath}/logo/ENG_eu-msmt-eosc-loga-barevne-ochrana-zona-paticka.svg" class="img-fluid float-start">
        </div>
    </div>
</section>
