extensions:
    nettrine.dbal: Nettrine\DBAL\DI\DbalExtension(%debugMode%)
    nettrine.orm: Nettrine\ORM\DI\OrmExtension

    nettrine.cache: Nettrine\Cache\DI\CacheExtension
    nettrine.migrations: Nettrine\Migrations\DI\MigrationsExtension
    nettrine.fixtures: Nettrine\Fixtures\DI\FixturesExtension

nettrine.dbal:
    debug:
        panel: %debugMode%
        sourcePaths: [%appDir%]
    connections:
        default:
            driver: %database.driver%
            host: %database.host%
            user: %database.user%
            password: %database.password%
            dbname: %database.dbname%
            port: %database.port%
    types:
        databots.enum_databot_result_status: App\Model\Database\Enums\EnumDatabotStatusType
        databots.enum_databot_role: App\Model\Database\Enums\EnumDatabotRoleType
    typesMapping:
        enum_databot_role: databots.enum_databot_role
        enum_databot_result_status: databots.enum_databot_result_status

nettrine.orm:
    managers:
        default:
            mapping:
                App:
                  directories: [%appDir%/Model/Database]
                  namespace: App\Model\Database
            connection: default
            autoGenerateProxyClasses: %debugMode%
            proxyDir: %tempDir%/proxies

nettrine.migrations:
    table: doctrine_migrations
    column: version
    directories:
        Database\Migrations: %rootDir%/Database/Migrations
    versionsOrganization: null

nettrine.fixtures:
    paths:
        - %rootDir%/Database/Fixtures
