@import "@fortawesome/fontawesome-free/css/all.css";
@import "bootstrap";
@import "status";
@import "front";

html, body {
    height: 100%;
}
body {
    display: flex;
    flex-direction: column;
}
.content {
    flex: 1;
}

footer {
    background-color: #777777;
    padding: 1rem;
    text-align: center;
}

.blink {
    animation: blinker 1s linear infinite;
}

@keyframes blinker {
    50% {
        opacity: 0;
    }
}

.copyIcon {
    cursor: pointer;
    font-size: 0.9rem;
    margin-left: 0.5rem;
    color: #555;
    transition: color 0.2s ease-in-out;
}

.copyIcon:hover {
    color: #000;
}

.boxplot {
    height: 300px;
}

//not to show before the json viewer is fully rendered
andypf-json-viewer:not(:defined) {
    visibility: hidden;
}
