@import "@fortawesome/fontawesome-free/css/all.css";
@import "bootstrap/dist/css/bootstrap.min.css";
@import "status";
@import "front";

html, body {
    height: 100%;
}
body {
    display: flex;
    flex-direction: column;
}
.content {
    flex: 1;
}

footer {
    background-color: #f0f0f0;
    padding: 1rem;
    text-align: left;
    margin-top: 1rem;
}

.blink {
    animation: blinker 1s linear infinite;
}

@keyframes blinker {
    50% {
        opacity: 0;
    }
}

.copyIcon {
    cursor: pointer;
    font-size: 0.9rem;
    margin-left: 0.5rem;
    color: #555;
    transition: color 0.2s ease-in-out;
}

.copyIcon:hover {
    color: #000;
}
