parameters:
    database:
        dbname: jacq
        driver: pdo_pgsql
        port: 5432
        user: jacq
        options:
            lazy: true

    storage:
        jp2Quality: 46
        imageServerBaseUrl: https://herbarium-iiif.dyn.cloud.e-infra.cz/iiif/3/
        zbarImageHeight: 3000  #px size of image used for zbar barcode recognition
        thumbImageWidth: 400  #px size of image used for manifest thumbnail
        previewImageSize: 1800 #px size of preview shown to curator on pipeline error
        databotImageSite: 1280 #px size of images used for all databots operations
        previewQuality: 80 #JPEG compression of preview shown to curator on pipeline error

    openid:
        providers:
            cesnet:
                enabled: true
                clientId: aa123 # %env.CESNET_CLIENT_ID%
                clientSecret: aa456 # %env.CESNET_CLIENT_SECRET%

            orcid:
                enabled: true
                clientId: %env.ORCID_CLIENT_ID%
                clientSecret: %env.ORCID_CLIENT_SECRET%
                authorizationEndpoint: 'https://orcid.org/oauth/authorize'
                tokenEndpoint: 'https://orcid.org/oauth/token'
                userInfoEndpoint: 'https://pub.orcid.org/v3.0/{id}/person'
                scopes: 'openid profile email'

