parameters:
    database:
        dbname: jacq
        driver: pdo_pgsql
        port: 5432
        user: jacq
        options:
            lazy: true

    storage:
        jp2Quality: 46
        zbarImageHeight: 3000  #px size of image used for zbar barcode recognition
        thumbImageWidth: 400  #px size of image used for manifest thumbnail
        previewImageSize: 1280 #px size of preview shown to curator on pipeline error, unused now
        databotImageSite: 1280 #px size of images used for all databots operations
        previewQuality: 80 #JPEG compression of preview shown to curator on pipeline error
        ark:
            naan: 12661
            shoulder: nrp1
            repository: HERB

    openid:
        providers:
            cesnet:
                enabled: true
                clientId: %env.CESNET_CLIENT_ID%
                clientSecret: %env.CESNET_CLIENT_SECRET%
                issuer: 'https://login.cesnet.cz/oidc/'
                scopes: 'openid profile email isCesnetEligibleLastSeen'
