services:
    - App\Core\RouterFactory::createRouter
    - App\Security\UserAuthenticator
    - App\Services\WebDir(%wwwDir%)
    - App\Services\TempDir(%tempDir%)
    - App\Services\RepositoryConfiguration(%storage%)
    - App\Services\AppConfiguration(@container::getParameters())

    - {factory: App\Console\Scheduled\ProceedCuratorImage, tags: {console.command: curator:importImage}}
    - {factory: App\Console\Admin\Test, tags: {console.command: curator:test}}
    - {factory: App\Console\Admin\BatchDownload, tags: {console.command: admin:downloadArchive}}
    - {factory: App\Console\Admin\BucketParity, tags: {console.command: admin:bucketParity}}
    - {factory: App\Console\Admin\HarvestExif, tags: {console.command: admin:harvestExif}}
    - {factory: App\Console\Admin\RefreshJp2, tags: {console.command: admin:refreshJp2}}

    - GuzzleHttp\Client

search:
    in: %appDir%
    classes:
        - *Factory
        - *Facade
        - *Service
        - *Grid
