services:
    - App\Core\RouterFactory::createRouter
    - App\Security\UserAuthenticator
    - App\Security\OpenIDAuthenticator
    - App\Services\WebDir(%wwwDir%)
    - App\Services\TempDir(%tempDir%)
    - App\Services\RepositoryConfiguration(%storage%)
    - App\Services\AppConfiguration(@container::getParameters())

    - {factory: App\Console\Scheduled\ProceedCuratorImage, tags: {console.command: curator:importImage}}
    - {factory: App\Console\Scheduled\ResolveSpecimenPid, tags: {console.command: curator:resolveSpecimenPid}}
    - {factory: App\Console\Admin\Test, tags: {console.command: curator:test}}
    - {factory: App\Console\Admin\BatchDownload, tags: {console.command: admin:downloadArchive}}
    - {factory: App\Console\Admin\BucketParity, tags: {console.command: admin:bucketParity}}
    - {factory: App\Console\Admin\HarvestExif, tags: {console.command: admin:harvestExif}}
    - {factory: App\Console\Admin\RefreshJp2, tags: {console.command: admin:refreshJp2}}
    - {factory: App\Console\Admin\BatchDelete, tags: {console.command: admin:batchDelete}}
    - {factory: App\Console\Admin\CreateThumbs1280, tags: {console.command: admin:generate1280Thumbs}}
    - {factory: App\Console\Admin\dbUpdateThumbs1280, tags: {console.command: admin:dbUpdate1280Thumbs}}

    - GuzzleHttp\Client

    # OAI-PMH services
    OaiPmhRecordProvider:
            class: App\Services\OaiPmh\OaiPmhRecordProvider
    - App\Services\OaiPmh\MetadataFormat\DublinCoreFormat
    - App\Services\OaiPmh\MetadataFormat\CcmmFormat
    myOaiPmhPresenter:              # název služby, alfa-numerický
            class: App\UI\Front\OaiPmh\OaiPmhPresenter
            arguments:
                recordProvider: @OaiPmhRecordProvider

search:
    in: %appDir%
    classes:
        - *Factory
        - *Facade
        - *Service
        - *Grid
        - *Form
