{layout "../@layoutSignIn.latte"}
{block #content}

<div class="col">
<form n:name="loginForm">

	<div n:foreach="$form->errors as $error" class="alert alert-danger" role="alert">
		{$error}
	</div>

	<div class="form-label-group">
		<input type="text" n:name="username" class="form-control" placeholder="Username" required autofocus>
	</div>

	<div class="form-label-group">
		<input type="password" n:name="password" class="form-control" placeholder="Password" required>
	</div>

	<div class="checkbox mb-3">
		<label>
			<input n:name="remember" type="checkbox"> Remember me
		</label>
	</div>
	<button n:name="submit" class="btn btn-primary btn-block">Sign in</button>

</form>
</div>
<br><hr><br>
<div class="col">
<h3>Experimental: </h3>
    <div n:foreach="$flashes as $flash" class="alert alert-{$flash->type}" role="alert">
        {$flash->message}
    </div>

    <div class="d-grid gap-2">
        <a n:href="openID provider => 'cesnet'" class="btn btn-primary btn-lg">
            <i class="bi bi-google"></i> Sign in with CESNET AAI
        </a>

        <a n:href="openID provider => 'orcid'" class="btn btn-secondary btn-lg">
            <i class="bi bi-shield-lock"></i> Sign in with ORCID
        </a>

        <a n:href="openID provider => 'mock'" class="btn btn-secondary btn-lg">
            <i class="bi bi-shield-lock"></i> Sign in with mocked provider
        </a>
    </div>

    <div class="mt-3 text-center">
        <small class="text-muted">New users will be registered automatically with no Herbarium assigned.</small>
    </div>
</div>
