{block content}
<div class="container-fluid" id="importRevision">


    <div class="row">
        <div class="col-md-3">
            <h2>Resolve problems</h2>
            <p>or back to  <a n:href=":default#importerror-pane">upload results</a></span></p>
            <hr>
            <p><b>original filename:</b> {$photo->originalFilename}
            <p><b>task:</b> {$photo->id}</p>

            <p><b>error:</b> {$photo->error->message}</p>
            {if $photo->error->barcodes!== null}
            <p><b>detected barcode (s):</b> {$photo->error->barcodes}</p>
            {/if}
            <hr class="w-50">
            <p>Please decide what to do with this image: </p>

            <p><a n:href=":reimport $photo->id" id="reupload" class="btn btn-primary btn-sm" role="button">Repeat
                processing</a> – the file is ok and the error reported looks like a temporal error of the repository software.</p>
            <p><a n:href=":delete $photo->id" id="delete" class="btn btn-danger btn-sm" role="button">Delete</a> –
                delete the file from my bucket and erase the information about it's processing.</p>
            <hr class="w-50">
            <p>The file could be fine, but the automatic barcode processing failed. If so, enter the numeric part of
                specimen ID. The image will be reprocessed, skipping the barcode detection. </p>


            <form n:name=specimenIdForm class=form>
                <ul class="errors" n:ifcontent>
                    <li n:foreach="$form->getOwnErrors() as $error">{$error}</li>
                </ul>
                <div class="row g-3 align-items-center">
                    <div class="col-auto">
                        <label n:name=specimen class="form-label">{$herbarium->acronym}-</label>
                    </div>
                    <div class="col-auto">
                        <input n:name=specimen style=" width: 8em;" class="form-control" aria-describedby="helpInline" autofocus placeholder="12345">
                    </div>
                    <div class="col-auto">
                        <span id="helpInline" class="form-text error"></span>
                    </div>
                </div>
                <div class="row mt-3 align-items-center">
                    <div class="col-auto">
                    </div>
                    <div class="col-auto">
                        <input n:name=submit class="btn btn-secondary btn-sm" role="button">
                    </div>
                </div>
            </form>

        </div>
        {if $photo->error->duplicateTo}
        <div class="col-md-4">
            <h5>the NEW image being imported</h5>
            <img src="{link :thumbnail $photo->id}" class="img-fluid"  style="height: 90vh; object-fit: contain; cursor:pointer;"
                 data-bs-toggle="modal"
                 data-bs-target="#newImageModal">
            <div class="modal fade" id="newImageModal" tabindex="-1">
                <div class="modal-dialog modal-dialog-centered modal-xl">
                    <div class="modal-content">
                        <div class="modal-body text-center p-0">
                            <img src="{link :thumbnail $photo->id}" class="img-fluid">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <h5>already EXISTING image in the repository <small>(<a n:href="Repository:photo $photo->error->duplicateTo->id">detail</a>)</small></h5>
            <img src="{link Repository:databotThumbImage $photo->error->duplicateTo->id}" class="img-fluid"  style="height: 90vh; object-fit: contain; cursor:pointer;"
                 data-bs-toggle="modal"
                 data-bs-target="#existingImageModal">
            <div class="modal fade" id="existingImageModal" tabindex="-1">
                <div class="modal-dialog modal-dialog-centered modal-xl">
                    <div class="modal-content">
                        <div class="modal-body text-center p-0">
                            <img src="{link Repository:databotThumbImage $photo->error->duplicateTo->id}" class="img-fluid">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {else}
        <div class="col-md-4">
            <h5>NEW image being imported</h5>
            <img src="{link :thumbnail $photo->id}" class="img-fluid"  style="height: 90vh; object-fit: contain; cursor:pointer;"
                 data-bs-toggle="modal"
                 data-bs-target="#imageModal">
            <div class="modal fade" id="imageModal" tabindex="-1">
                <div class="modal-dialog modal-dialog-centered modal-xl">
                    <div class="modal-content">
                        <div class="modal-body text-center p-0">
                            <img src="{link :thumbnail $photo->id}" class="img-fluid">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {/if}

    </div>

</div>
