{layout '../Base/@layout.latte'}
{block main}
<header>
{if $presenter->isLinkCurrent('Home:default')}
    <div id="masthead">
        <div id="logo">
            <a n:href="Home:"> <span class="text-light fs-5"><em>Herbaria images</em> CZ</span></a>
        </div>
        <div id="signLink"><a class="btn btn-info" role="button" n:href="Sign:in"><i class="bi bi-box-arrow-in-right"></i> Sign in</a></div>
        <div class="container position-relative">
            <div class="row justify-content-center">
                <div class="col-xl-8 col-lg-10">
                    <div class="text-center text-white">
                        <h1 class="mb-5">Czech Repository of Herbarium Specimen Images </h1>
                        <form action="{link Repository:specimen}" method="GET">
                            <div class="row">
                                <div class="col">
                                    <input class="form-control form-control-lg" name="sid" placeholder="Search for a specimen in several formats, e.g. PRC 37 or PRC-000037..."  aria-label="Search a specimen" autofocus  autocomplete="off" />
                                </div>
                                <div class="col-auto"><button class="btn btn-primary btn-lg" type="submit">Search</button></div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
{else}
    <nav class="navbar navbar-expand-lg mb-2 py-1" id="masthead-thin">
        <div class="container-fluid">
            <a class="navbar-brand" n:href="Home:"><span class="text-light fs-5"><em>Herbaria images</em> CZ</span></a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <h3 class="text-light">Czech Repository of Herbarium Specimen Images</h3>
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                </ul>
                <form class="d-flex" action="{link Repository:specimen}" method="GET">
                    <input name="sid" class="form-control me-2" type="search" placeholder="PRC_37" aria-label="Search specimen" autocomplete="off">
                    <button class="btn btn-primary text-light" type="submit">Search</button>
                </form>
                <form class="d-flex">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0 ">
                        <li class="nav-item">
                            <a class="nav-link text-light" n:href="Sign:in"><i class="bi bi-box-arrow-in-right"></i>Sign in</a>
                        </li>
                    </ul>
                </form>
            </div>
        </div>
    </nav>
{/if}
</header>
    <main class="content">
        <div class="container-fluid">
            <div class="col-sm-12 col-md-6 offset-md-3 mt-1">
                <div n:foreach="$flashes as $flash" class="alert py-1 alert-{$flash->type}" role="alert">{$flash->message}</div>
                <div n:foreach="$maintenances as $maintenance" class="alert py-1 alert-{$maintenance->getType()}" role="alert">{$maintenance->getType()|upper}: {$maintenance->getMessage()}</div>
            </div>
        </div>
        <div class="container">
        {include content}
        </div>
    </main>
{/block}
