includes:
	- base.neon

parameters:
    environment: development
    database:
        host: curator-db
        user: jacq
        password: jacq
        dbname: herbarium
    storage:
        archiveBucketPrefix: test-archive
        jp2BucketPrefix: test-iiif
        thumbBucketPrefix: test-thumbs1280
        recentBucketSuffix: "-02"
        imageServerBaseUrl: http://localhost:8080/iiif/
    databot:
        basePath: http://databot:5000
    solr:
        host: solr
        port: 8983

services:
    cache.storage: Nette\Caching\Storages\DevNullStorage

aws:
    endpoint: http://minio:9000
    use_path_style_endpoint: true
    credentials:
            key: test
            secret: testSecret

nettrine.dbal:
 debug:
   panel: true
