includes:
	- base.neon

parameters:
    environment: 'production'
    database:
        host: pgsql-pooler-lb-rw
        dbname: herbarium
        user: herbarium_app
        password: %env.DB_PASSWORD%
    storage:
        archiveBucketPrefix: archive
        jp2BucketPrefix: iiif
        thumbBucketPrefix: thumbs1280
        recentBucketSuffix: "-001"
        imageServerBaseUrl: https://iiif.biodiversity.cz/iiif/
    databot:
        basePath: http://herbarium-databot-svc:5000
    solr:
        host: solr-herbarium-biodiversity-svc
        port: 8983


aws:
    endpoint: https://s3.nrp1.du.cesnet.cz
    use_path_style_endpoint: false
    credentials:
        key: %env.S3_ACCESS_KEY%
        secret: %env.S3_SECRET_KEY%

http:
    proxy:
        - 10.42.0.0/16

di:
    lazy: true
