includes:
	- base.neon

parameters:
    environment: test
    database:
        host: jacq-pgsql-cluster-rw
        dbname: jacq_test
        user: jacq_test
        password: jacq_test
    storage:
        archiveBucketPrefix: test-archive
        jp2BucketPrefix: test-iiif
        thumbBucketPrefix: test-thumbs1280
        recentBucketSuffix: "-01"
        imageServerBaseUrl: http://localhost:8080/iiif/
    databot:
        basePath: http://databot:5000

http:
    proxy:
        - 10.42.0.0/16
