includes:
	- base.neon

parameters:
    environment: test
    database:
        host: jacq-pgsql-cluster-rw
        dbname: jacq_test
        user: jacq_test
    storage:
        archiveBucket: test-archive
        jp2Bucket: test-iiif
    pdf:
        url: http://localhost:3000
        barcodeUrl: http://localhost:8080/barcode

http:
    proxy:
        - 10.42.0.0/16
