{block #content}
<div class="container">
    <h2>CETAF SID management</h2>
    <div class="row">
        <h1>Import specimens</h1>
        <p>Upload a file to create new specimen records in the database. Update of existing is not supported yet</p>

        {control importForm}
    </div>
</div>
{/block}
